@import url('https://fonts.googleapis.com/css?family=NotoSans |	Noto Sans JP | Ubuntu');

* {
  margin: 0;
  padding: 0;
}

header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

header>p {
  font-size: 6.5vw;
}

header:hover {
  opacity: 1;
}

.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: gray;
}

a {
  text-decoration: none;
}


.efectosnav {
  border: 1px black solid;
  padding: 5px;
  margin: 10px;
  background: lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  width: 110px;
  font-size: 10px;
  text-align: center;
  color: whitesmoke;
}



body {
  background: lightgray;
  width: 100vw;
  height: 100vh;
}


@media screen and (max-width : 760px) {

  .navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 210px;

  }

  .efectosnav {
    margin: 5px;
  }


  .caja, .animacionimagen, .animacionimagen2, .animacionimagen2:hover, .animacionimagen3, .animacionimagen4 {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: auto;
  }

  .boton, .boton:hover {
    display: inline-block;
    
  }
}

.logo {
  width: auto;
  height: auto;
}

.cabezera {
  margin-left: 30px;
}


.padre {
  width: 500px;
  height: 500px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.hijo {
  padding: 10px;
  height: 50px;
  width: 50px;

}

.caja {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 450px;
  border: 2px solid rgb(0, 0, 0);
  animation-name: presentacion;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 0 auto;
}

@keyframes presentacion {
  0% {
    background-image: url(../images/imagen2.jpg);
    background-size: 450px 300px;
  }

  25% {
    background-image: url(../images/imagen3.jpg);
    background-size: 450px 300px;
  }

  50% {
    background-image: url(../images/imagen4.jpg);
    background-size: 450px 300px;
  }

  75% {
    background-image: url(../images/imagen5.jpg);
    background-size: 450px 300px;
  }

  100% {
    background-image: url(../images/imagen2.jpg);
    background-size: 450px 300px;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid black;
  width: 315px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.imagen3 {
  height: 300px;
  width: auto;
  margin-top: 30px;
  margin-left: 30px;
}

.caja1 {
  display: flex;

}

.animacionimagen {
  display: flex;
  justify-content: space-around;
  flex-direction: row;


}

.mask {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.animacionimagen1 {
  margin-bottom: 5vh;

}

.animacionimagen2 {
  margin-bottom: 5vh;
}

.animacionimagen2:hover {

  transform: skewY(-20deg);
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: yellow;
    left: 150px;
    top: 0px;
  }

  50% {
    background-color: blue;
    left: 150px;
    top: 150px;
  }

  75% {
    background-color: green;
    left: 0px;
    top: 150px;
  }

  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.animacionimagen3 {
  margin-bottom: 5vh;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}

.animacionimagen4 {
  margin-bottom: 5vh;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.boton {
  border: 1px black solid;
  padding: 5px;
  margin: 10px;
  background: lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  width: 110px;
  font-size: 10px;
  text-align: center;

}

.boton:hover {
  background: linear-gradient(160deg, rgb(60, 58, 58) 0%, rgb(200, 196, 196) 90%);
}

textarea {
  height: 200px;
}


label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.textoinicio {
  font-family: 'Noto Sans JP', sans-serif;
  vertical-align: baseline;
  margin-top: 20px;
  margin-left: 50px;
}

.mapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 50%;
}

.sobrenosotrosimg1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
}